.grid {
  width:200px;
  height:200px;
  display:flex;
  flex-wrap:wrap;
  border-style:solid;
    
}

.center  {
  margin: auto;
  padding: 1px;
}

 #timeLeft{
   margin:auto
 }
 
.grid div {
  width:20px;
  height:20
}

.snake {
  background-color: blue;
}

.apple {
  background-color: red;
}
